

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection {
    color: #000;
    background: #fff;
}

nav {
    background: #000000;
    width: 100%;
    height: 10%;
    padding: 15px;
    z-index: 12;
}

nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.menu ul {
    display: inline-flex;
}

.menu ul li {
    list-style: none;
    margin-left: 7px;
}

.menu ul li:first-child {
    margin-left: 0px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background: #fff;
    color: black;
}

.img {
    background: url('fz.jpg')no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
}

.center {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.center .title {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
}

.center .text {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.item {
    font-size: 20px;
    color: #fff;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 30px;
    border-top: #FFFFFF 2px solid;
}

.row {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.box1 {
    width: 600px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 2px solid #000000;
    padding: 30px;
    position: relative; 
    z-index: 2; 
}

.titbox {
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.boxcont {
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img10 {
    background: url('cd.webp')no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    border-top: #fff 2px solid;
}

.img10::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1; 
}
